.notFound {
  width: 20rem;
  margin: 3em auto;
}
.button {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  background-color: white;
  cursor: pointer;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.refreshIcon {
  margin-left: 1em;
  font-size: 1.1em;
}
